---
title: "Keegan Sanders"
layout: splash
permalink: /
author_profile: true
classes:
  - landing
header:
    overlay_color: "#000"
    overlay_filter: "0.5"
    overlay_image: /assets/images/landingpic2full.jpg
excerpt: "Squashing bugs, one semicolon at a time."
intro: 
  - excerpt: "Engineering design solutions to break down language barriers in Human-Computer Interaction."
feature_row:
  - image_path: assets/images/TitleScreen.png
    title: "Trivia Maze"
    alt: "Trivia Maze image"
    excerpt: "Check out my Case Study for my Trivia Maze game, created in Java Swing!"
    url: https://ksand11.github.io/420-portfolio/trivia-maze/
    btn_label: "Learn More"
    btn_class: "btn--primary"
  - image_path: assets/images/finalcut.jpg
    title: "Trail Signs"
    alt: "Trail Signs image"
    excerpt: "Take a look at my Trail Signs Case Study, a sign for older adults with dementia."
    url: https://ksand11.github.io/420-portfolio/trail-signs/
    btn_label: "Learn More"
    btn_class: "btn--primary"
  - image_path: assets/images/moxi.jpg
    title: "Moxi Story"
    excerpt: "See my slide deck for my Moxi Story, a robot designed to help nurses focus on patient care."
    url: "https://ksand11.github.io/420-portfolio/moxi-story/"
    btn_label: "Learn More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}
{% include feature_row %}