---
title: "Keegan Sanders"
layout: splash
permalink: /
author_profile: true
classes:
  - landing
header:
    overlay_color: "#000"
    overlay_filter: "0.5"
    overlay_image: /assets/images/landingpic2full.jpg
<!-- subtitle: Squashing bugs, <br/>one semicolon at a time. I'm passionate about creating innovative solutions that bridge the gap between humans and technology.  -->
<!-- intro: 
  - excerpt:  -->
subtitle: "Welcome to my portfolio site! I'm a computer scientist and designer from the University of Washington, currently working in the field of healthcare robotics. Head to my about page for information about me, and my portfolio page for a closer look at my projects."
feature_row1:
  - image_path: assets/images/TitleScreen.png
    title: "Trivia Maze"
    alt: "Trivia Maze image"
    excerpt: "Check out my Case Study for my Trivia Maze game, created in Java Swing!"
    url: https://ksand11.github.io/420-portfolio/trivia-maze/
    btn_label: "Learn More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: assets/images/finalcut.jpg
    title: "Trail Signs"
    alt: "Trail Signs image"
    excerpt: "Take a look at my Trail Signs Case Study, a sign for older adults with dementia."
    url: https://ksand11.github.io/420-portfolio/trail-signs/
    btn_label: "Learn More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: assets/images/moxi.jpg
    title: "Moxi Story"
    excerpt: "See my slide deck for my Moxi Story, a robot designed to help nurses focus on patient care."
    url: "https://ksand11.github.io/420-portfolio/moxi-story/"
    btn_label: "Learn More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}
{% include feature_row id="feature_row1" type="left" %}
{% include feature_row id="feature_row2" type="right" %}
{% include feature_row id="feature_row3" type="left" %}