---
title: "Keegan Sanders"
layout: splash
classes:
  - landing
header:
    overlay_color: "#000"
    overlay_filter: "0.5"
    overlay_image: /assets/images/landingpic2full.jpg
excerpt: "Squashing bugs, one semicolon at a time."
intro: 
  - excerpt: "Engineering design solutions to break down language barriers in Human-Computer Interaction."
feature_row:
  - image_path: assets/images/TitleScreen.png
    alt: "Trivia Maze image"
    image_caption: "Trivia Maze"
    excerpt: "Check out my Case Study for my Trivia Maze game, created in Java Swing!"
    url: https://ksand11.github.io/420-portfolio/trivia-maze/
    btn_label: "Learn More"
    btn_class: "btn--primary"
  - image_path: assets/images/defaultpic.png
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "Trail Signs image"
    excerpt: "Take a look at my Trail Signs Case Study. I worked with a team to create a sign for older adults with dementia."
    url: https://ksand11.github.io/420-portfolio/trail-signs/
    btn_label: "Learn More"
    btn_class: "btn--primary"
  - image_path: assets/images/defaultpic.png
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Learn More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}
{% include feature_row %}