{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>
  @media (min-width: 48em) {
  #container {
      max-height: 165px;
  }
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
  }

  #container:hover .overlay {
    opacity: 0.75;
  }

  .text {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
</style>

<div class="{{ include.type | default: 'list' }}__item" style="min-width: 30%;">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <!-- <h2 class="archive__item-title no_toc" itemprop="headline">
      
    </h2> -->
    {% if include.type == "grid" and teaser %}
    <a href="{{ post.url | relative_url }}" rel="permalink">
      <div class="archive__item-teaser" id="container">
        <!--  -->
        <img src="{{ teaser | relative_url }}" alt="" />
        <div class="overlay">
          <!-- {% if post.link %}
            <a href="{{ post.link }}" class="text">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"  class="text"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %} -->
          <!-- {% endif %} -->
          <p class="text">{{ title }}</p>
        </div>
      </div>
    </a>
    {% endif %}
    <!-- {% include page__meta.html type=include.type %} -->
  </article>
</div>
