---
layout: home
author_profile: true
classes: wide
---
<h2>Bio</h2>
<p>Blending technical skills and experience with design thinking and processes, I am passionate about bridging the gap between humans and technology. Majoring in computer science taught me numerous coding languages and tools, and minoring in Innovation and Design has guided that learning through a lens of meeting users' needs and embracing an iterative development philosophy. I strive to bring the integration of technology into the world to the forefront of the conversation. Through my work in bringing automated delivery robots into healthcare environments, I regularly interact with clients and developers to ensure that technology is efficiently and effectively meeting the needs of its clients. With my unique perspective, I aim to contribute towards creating impactful solutions that not only address current challenges but also anticipate future needs.

</p>


{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    {% if label != written_label %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in collection.docs %}
    {% unless collection.output == false or collection.label == "posts" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}